button:hover {
    cursor: pointer;
}

select:hover {
    cursor: pointer;
}

.lupka {
    width: 0.7em;
    height: 0.9em;
    margin-left: 0.2em;
}

.wysz_marka_model {
    position: relative;
    width: 20em;
    display: inline;
}

.wysz_marka_model input {
    padding-left: 1.5em;
    width: 20em;
}

.wysz_marka_model img {
    position: absolute;
    left: 0.2em;
    pointer-events: none;
    top: 0.2em;
}

select {
    margin: 10px;
}

.nagl_l_prod {
    display: inline;
}

.par_l_prod {
    display: inline;
    text-align: right;
    margin-left: 20em;
}

.sort_btn {
    display: inline;
}
.sort_btn:hover {
    cursor: pointer;
}

.srt_malej {
    border: 1px black solid;
    padding: 0.3em;
    border-radius: 25px 0px 0px 25px;
    text-align: justify;
}

.srt_rosn {
    border: 1px black solid;
    padding: 0.3em;
    border-radius: 0px 25px 25px 0px;
    text-align: justify;
}

.akt_filtr_cen {
    background: lightgray;
}

.wyb_kolor:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
    position: relative;
    margin-bottom: 10px;
}

.kolumna {
    float: left;
    height: 170px;
}

.lewa, .prawa {
    width: 25%;
}

.srodek {
    width: 50%;
}

.wiersz {
    border-top: 2px solid black;
    padding: 10px;
    width: 50em;
}

.wiersz:after {
    content: "";
    display: table;
    clear: both;
}

.zdjecie_produktu img {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    color: black;
}

/* style dla kotwicy bez href */
nav a:not([href]) {
    color: lightgray;
}

.prod_specjalny {
    background: #fffbe5;
}

.prod_specjalny button {
    background: #e5c100;
}
