<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="./zz.css">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <div id="app">

            <h1>Wyszukiwarka</h1>
            <hr/>
            <div class="wysz_marka_model">
                <input name="" type="text"
                       class="z_lupka"
                       placeholder="Podaj nazwe produktu lub model"/>
                <img src="./mag_glass.svg" alt="lupka" class="lupka"></img>
            </div>
            <button type="button">Szukaj</button>
            <br/>
            <select name="" id="">
                <option value="marka_wybor">Wybierz marke produktu</option>
            </select>
            <label for="cena_od">Cena od</label>
            <input type="" name="cena_od" value="" placeholder="cena" />
            <label for="cena_do">Cena od</label>
            <input type="" name="cena_do" value="" placeholder="cena" />
            <form action="">
                Wybierz kolor:
                <label class="wyb_kolor">
                    <input name="" type="checkbox" value=""/> Kolor1
                </label>
                <label class="wyb_kolor">
                    <input name="" type="checkbox" value=""/> Kolor2
                </label>
                <label class="wyb_kolor">
                    <input name="" type="checkbox" value=""/> Kolor3
                </label>
            </form>
            <br/>
            <h1 class="nagl_l_prod">Lista produktow</h1>
            <p class="par_l_prod">Sortowanie wg. ceny </p>
            <div id="cenaSortMal" class="sort_btn srt_malej"
                 @click="sortujPoCenieMal">
                malejaco
            </div>
            <div id="cenaSortRos" class="sort_btn srt_rosn"
                 @click="sortujPoCenieRos">
                rosnaco
            </div>
            <ul>
                <li v-for="produkt of filteredList">
                    <div class="wiersz" :class="produkt.special ? 'prod_specjalny' : null">
                        <div class="kolumna lewa">
                            <div class="zdjecie_produktu">
                                <img src="./latawiec.svg" alt="zdj_prod" />
                            </div>
                        </div>
                        <div class="kolumna srodek">
                            {{produkt.name}}
                            <br/>
                            Model produktu: {{produkt.model}}
                            <br/>
                            Marka: {{produkt.brand}}
                            <br/>
                            ID: {{produkt.id}}
                        </div>
                        <div class="kolumna prawa">
                            <button type="button">Dodaj do porownania</button>
                            <br/><br/>
                            {{produkt.price | cenaDoNetto}}
                            <br/>
                            {{produkt.price | cenaDoBrutto}}
                        </div>
                    </div>
                </li>
            </ul>
            <nav>
		        <a :href="strona > 1 ? '?strona=1' : null">&lt;&lt;</a>
                <!-- v-for moze wziac Int-a wtedy wykona akcje tyle razy -->
                <!-- np. n in 3 to przyjmuje wartosci 1, 2, 3-->
		        <a v-for="n in strony" :href="n !== strona ? '?strona=' + n : null">{{n}}</a>
		        <a :href="strona < strony ? '?strona='+strony : null">&gt;&gt;</a>
	        </nav>
        </div>

        <script src="./zz.js"></script>
    </body>
</html>
