<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="./zz.css">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <div id="app">

            <h1>Wyszukiwarka</h1>
            <hr/>
            <div class="wysz_marka_model">
                <input name="" type="text" maxlength="15"
                       v-model="szukanaFraza"
                       class="z_lupka"
                       :class="szukanaFraza.length < 3 ? 'red' : 'green'"
                       placeholder="Podaj nazwe produktu lub model"/>
                <img src="./mag_glass.svg" alt="lupka" class="lupka"></img>
            </div>
            <button type="button"
                    @click="updateFiltrWynikow"
                    :disabled="szukanaFraza.length < 0">
                Szukaj
            </button>
            <br/> <br/>
            <select name="" id="wyborMarki">
                <option value="marka_wybor">Wybierz marke produktu</option>
                <option v-for="produkt of filteredList"
                        v-on:value="produkt.brand">{{produkt.brand}}</option>
            </select>
            <label for="cena_od">Cena od</label>
            <input type="" name="cena_od" value="" placeholder="cena"
                   v-model.number="cenaOd"
                   :class="(czyFormatCeny(cenaOd) && czyMinLtMax())
                         ? 'green' : 'red'"
                   @keyup.enter="updateFiltrWynikow"/>
            <label for="cena_do">Cena od</label>
            <input type="" name="cena_do" value="" placeholder="cena"
                   v-model.number="cenaDo"
                   :class="(czyFormatCeny(cenaDo) && czyMinLtMax())
                         ? 'green' : 'red'"
                   @keyup.enter="updateFiltrWynikow"/>
            <br/>
            <!-- za: https://vuejs.org/v2/guide/forms.html#Checkbox -->
            Wybierz kolor:
            <label class="wyb_kolor" for="black">
                <input id="black" name="black" type="checkbox"
                       v-model="wybrKolory" @change="updateFiltrWynikow"
                       value="black"/> Black &nbsp;&nbsp;&nbsp;&nbsp;
            </label>
            <label class="wyb_kolor" for="cyan">
                <input id="cyan" name="" type="checkbox"
                       v-model="wybrKolory" @change="updateFiltrWynikow"
                       value="cyan"/> Cyan &nbsp;&nbsp;&nbsp;&nbsp;
            </label>
            <label class="wyb_kolor" for="red">
                <input id="red" name="" type="checkbox"
                       v-model="wybrKolory" @change="updateFiltrWynikow"
                       value="red" /> Red &nbsp;&nbsp;&nbsp;&nbsp;
            </label>
            <br/>
            <h1 class="nagl_l_prod">Lista produktow</h1>
            <p class="par_l_prod">Sortowanie wg. ceny </p>
            <div id="cenaSortMal" class="sort_btn srt_malej"
                 @click="ustawSortPoCenie('m'); updateFiltrWynikow()">
                malejaco
            </div>
            <div id="cenaSortRos" class="sort_btn srt_rosn"
                 @click="ustawSortPoCenie('r'); updateFiltrWynikow()">
                rosnaco
            </div>
            <ul>
                <li v-for="produkt of filteredList">
                    <div class="wiersz" :class="produkt.special ? 'prod_specjalny' : null">
                        <div class="kolumna lewa">
                            <div class="zdjecie_produktu">
                                <img src="./latawiec.svg" alt="zdj_prod" />
                            </div>
                        </div>
                        <div class="kolumna srodek">
                            <div class="nazwa_prod">
                                {{produkt.name}}
                            </div>
                            <br/>
                            Model produktu: {{produkt.model}}
                            <br/>
                            <div class="marka_prod">
                                Marka: {{produkt.brand}}
                            </div>
                            <!-- <br/> -->
                            <!-- ID: {{produkt.id}} -->
                            <!-- <br/> -->
                            <!-- kolor: {{produkt.color}} -->
                        </div>
                        <div class="kolumna prawa">
                            <button type="button">Dodaj do porownania</button>
                            <br/><br/>
                            <div class="cena_netto">
                                {{produkt.price | cenaDoNetto}}
                            </div>
                            <br/>
                            <div class="cena_brutto">
                                {{produkt.price | cenaDoBrutto}}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <nav>
		        <a :href="strona > 1 ? '?strona=1' : null"
                   class="fst_page" title="first page">
                    &lt;&lt;
                </a>
                <!-- v-for moze wziac Int-a wtedy wykona akcje tyle razy -->
                <!-- np. n in 3 to przyjmuje wartosci 1, 2, 3-->
		        <a v-for="n in strony" :href="n !== strona ? '?strona=' + n : null">{{n}}</a>
		        <a :href="strona < strony ? '?strona='+strony : null"
                   class="last_page" title="last page">
                    &gt;&gt;
                </a>
	        </nav>
        </div>

        <script src="./zz.js"></script>
    </body>
</html>

<!-- sessionStorage: -->
<!-- vm.zmienna, stor_zm, wartosci -->
<!-- sortPoCenie, sortPoCenie, {null,"r", "m"} -->
<!-- wybrKolory, wybrKolory, [black, red, cyan] -->
<!-- szukanaFraza, szukanaFraza, String (do 15 znakow) -->
<!-- cenaOd, cenaOd, cyferki -->
<!-- cenaDo, cenaDo, cyferki -->
